body{
  background-image: url('background-network.png');
  color: white;
}

h1 {
  margin: 0 auto;
  color: blue;
  text-align: center;
}

#title {
  font-size: 50px;
}

ul {
 list-style-type: none;
 margin: 0 auto;
 padding: 1px;
 overflow: hidden;
 /*background-color: white;*/
 text-align: center;
 float: center;
 color: #000;
}

li {
 float: left;
 border: 2px solid white;
 color: #000;
}

/* Add a border to all( but not the last) list items */
li:last-child {
 border: 2px solid white;
}

li a {
 display: block;
 color: black;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
 background-color: #f6691c;
}

.active {
 background-color: #f6691c ;
 border-color: #757575
}
